<div class="comments-_comment clearfix">

<article class="comment clearfix">
  <div class="comment-author">
    <%= render Avatar.tiny(comment.user) %>
  </div>
  <h1 class="comment-title">
    <%= comment.user.nickname %>
    commented
    <%= time_ago_in_words(comment.created_at) %>
    ago
  </h1>
  <div class="comment-body clearfix" data-ux-comment-body>
    <%= render "markdown", text: comment.text %>
  </div>
  <button class="edit-comment" data-ux-edit-comment><%= t('.edit') %></button>
  <%= render "comments/inline_form", comment: comment, card: comment.card %>
</article>

</div>
