<div data-role="comment" class="comment-container clearfix">
  <div class="comment-header clearfix">
    <p class="comment-author"><%= comment.user.nickname %></p>
  </div>
  <div class="comment-body-container clearfix">
    <%= comment_markdown(comment.text) %>

    <%= form_for [comment.card, comment] do |f| %>
      <%= f.text_area :text %>

      <%= f.submit t("comments.edit.save") %>
      <%= button_tag t("comments.edit.cancel") %>
    <% end %>
  </div>
</div>
