<div class="page-signup">

  <header class="signup-header clearfix">
    <h1 class="greeting"><%= t('.greeting', name: 'Zach').html_safe %></h1>
  </header>

  <section class="signup-content clearfix">
    <div class="text-container clearfix">
      <div class="plain-text">
        <%= t('.text') %>
      </div>
    </div>
    <div class="signup-form-container clearfix">
      <%= form_for @user, html: { class: 'signup-form clearfix' } do |f| %>
        <%= f.email_field :email, class: 'input', placeholder: t('.email-placeholder') %>
        <%= button_tag t('.submit'), class: 'submit' %>
      <% end %>
    </div>
  </section>

</div>
