<div class="boards-_board clearfix">

<article class="board-card clearfix">

  <header class="board-card-header clearfix">
    <a class="open-in-github" target="_blank" href="<%= "http://github.com/#{board.title}" %>">
      <%= t("accessibility.open_in_github") %>
    </a>
    <h3 class="board-title"><a href="<%= url_for(board) %>"><%= board.title %></a></h3>
    <p class="board-description"><%= board.description %></p>
  </header>

</article>

</div>
