<%= content_for :main_action do %>
  <%= render "header_action" %>
<% end %>

<% if @linked_boards.empty? %>
<div class="no-boards-container clearfix">
  <%= render "no_boards" %>
</div>
<% else %>
<div class="linked-boards-container clearfix">
  <%= render "linked_boards", boards: @linked_boards %>
</div>
<% end %>

<div class="new-boards-container clearfix">
  <%= render "new_boards", boards: @new_boards %>
</div>
