<nav class="board-nav clearfix">
  <a href="<%= boards_path %>" class="text">boards</a>
  <a href="#!" class="text js-board-settings">settings</a>
</nav>

<header class="board-header clearfix">
  <p class="user-firstname"><%= current_user.first_name %></p>
  <%= best_in_place @board, :title,
                    display_with: -> (title) { content_tag :h1, title, class: 'board-title' },
                    class: 'board-title-container clearfix js-bip_board-title',
                    inner_class: 'bip_board-title' %>
</header>

<section class="board-content clearfix" data-role="board" data-board-id="<%= @board.id %>">
  <%= render @board.lists[2], emptylist_placeholder: t('.review-placeholder') %>
  <%= render @board.lists[1], emptylist_placeholder: t('.doing-placeholder') %>
  <%= render @board.lists[0], emptylist_placeholder: t('.todo-placeholder') %>
</section>

<div class="board-actions-container">
  <a href="#" class="add-card-action js-add-card">+</a>
</div>

<div class="_add-card clearfix">
  <div class="add-card-form-container clearfix js-add-card-form-container">
    <%= render "cards/form", card: Card.new, board: @board %>
  </div>
</div>

<div class="_board-settings clearfix">
  <div class="board-settings-dialog-wrapper clearfix js-board-settings-dialog-wrapper">
    <div class="user-settings-form-container clearfix">
      <%= render "boards/user_settings", board: @board if signed_in? %>
    </div>
    <div class="board-settings-form-container clearfix">
      <p class="tutorial-text"><%= t('.tutorial-text') %></p>
      <%= render "boards/settings", board: @board %>
    </div>
  </div>
</div>
