<%= content_for :main_action do %>
  <%= render "header_actions/create_card" %>
<% end %>

<div data-role="board" data-board-id="<%= @board.id %>">

  <%= render @board.lists[2], emptylist_placeholder: t('.review-placeholder') %>
  <%= render @board.lists[1], emptylist_placeholder: t('.doing-placeholder') %>

  <section class="create-card-section clearfix" id="new" data-ux-create-card-section>
    <%= render "cards/form", card: Card.new, board: @board %>
  </section>

  <%= render @board.lists[0], emptylist_placeholder: t('.todo-placeholder') %>

</div>


<% if false %>

<a href="<%= boards_path %>" class="text">boards</a>

<%= form_for [:toggle_subscription, @board] do |f| %>
  <%= check_box_tag :subscribe, "", @board.has_subscriber?(current_user) %>
  <%= button_tag t(".submit") %>
<% end %>

<%= form_for @board do |f| %>
  <%= f.text_field :app_name %>
  <%= f.text_field :heroku_api_key, type: 'url' %>
  <%= button_tag t(".submit") %>
<% end %>

<% end %>
