<div class="page-board">

  <nav class="cards-nav clearfix">
    <a href="<%= boards_path %>" class="text">boards</a>
    <a href="#" class="text">settings</a>
  </nav>

  <header class="cards-header clearfix">
    <p class="user-firstname">Zach</p>
    <h1 class="board-title"><%= @board.title %></h1>
  </header>

  <div class="action-container">
    <p class="add-card-action js-add-card">+</p>
  </div>

  <div class="lists-container clearfix" data-role="board" data-board-id="<%= @board.id %>">
    <%= render @board.lists[0], list_class: 'todo', emptylist_placeholder: 'Dolor Ipsum Ullamcorper Cras Commodo' %>
    <%= render @board.lists[1], list_class: 'doing', emptylist_placeholder: 'Tortor Tellus Ipsum Ultricies' %>
    <%= render @board.lists[2], list_class: 'review', emptylist_placeholder: 'Sem Cras Magna Ultricies' %>
  </div>

  <!--
  <%= render "boards/subscription", board: @board if signed_in? %>
  <%= render "boards/heroku", board: @board %>
  <%= render "cards/form", card: Card.new, board: @board %>
-->

</div>
