<div data-role="board" data-board-id="<%= @board.id %>">

  <h1><%= @board.title %></h1>

  <%= render "boards/subscription", board: @board if signed_in? %>
  <%= render "boards/heroku", board: @board %>
  <%= render "cards/form", card: Card.new, board: @board %>
  <%= render @board.lists %>

</div>
