<div data-role="single-card" data-board-id="<%= @card.board.id %>">
  <h1><%= @card.title %></h1>

  <%= render "cards/archive", card: @card %>
  <%= render "cards/preview", card: @card %>
</div>

<% if signed_in? %>
  <%= render "comments/form", comment: Comment.new, card: @card %>
<% end %>
<%= render @card.comments %>
