<div data-role="single-card" data-board-id="<%= @card.board.id %>">

  <nav class="cards-nav clearfix">
    <a href="<%= board_path @card.board %>" class="text"><%= @card.board.title %></a>
  </nav>

  <header class="cards-header clearfix">
    <p class="user-firstname"><%= current_user.nickname %></p>
    <div class="card-title-container clearfix">
      <%= content_tag :h1, @card.title, class: 'card-title' %>
    </div>

    <%= form_for [@card.board, @card] do |f| %>
      <%= f.text_field :title %>

      <%= f.submit %>
    <% end %>

    <button data-clipboard-text='<%= @card.branch_name %>'>
      <b><%= @card.branch_name %></b>
    </button>

    <%= link_to t(".view-on-github"),
                @card.compare_url(url_for([@card.board, @card, only_path: false])) %>
  </header>

  <div class="card-actions-container clearfix">
    <% unless @card.archived? %>
    <div class="buttons-container clearfix">
      <%= render "cards/archive", card: @card %>
      <%= render "cards/preview", card: @card %>
    </div>
    <% end %>

    <div class="preview-container clearfix">
      <% if @card.previewing? %>
        <script>
          $('.preview-form').spin({ color: '#fff' });
        </script>
      <% elsif @card.previewed? %>
        <p class="preview-text"><%= t('.ready', url: link_to(@card.preview_url, @card.preview_url)).html_safe %></p>
      <% end %>
    </div>
  </div>

  <div class="comment-body clearfix">
    <%= comment_markdown(@card.description) %>
  </div>

  <%= form_for [@card.board, @card] do |f| %>
    <%= f.text_area :description %>

    <%= f.submit %>
  <% end %>

  <% if signed_in? %>
    <div class="comment-form-container clearfix">
      <%= render "comments/form", comment: Comment.new, card: @card %>
    </div>
  <% end %>

  <section class="comments clearfix">
    <%= render @card.comments %>
  </section>

</div>
