<div data-role="single-card" data-board-id="<%= @card.board.id %>">

  <% if @card.previewing? %>
  <%= render "waiting_review_app" %>
  <% elsif @card.previewed? %>
  <%= render "review_app", card: @card %>
  <% end %>

  <section class="card-header clearfix">
    <div class="card-info clearfix">
      <a class="go-back-to-board" href="<%= board_path @card.board %>">
        <%= t('accessibility.go-back-to-board') %>
      </a>
      <h1 class="card-title"><%= @card.title %></h1>
      <div class="card-description-container clearfix">
        <%= render "markdown", text: @card.description %>
      </div>
    </div>
    <div class="card-actions clearfix">
      <button class="ship-it"><%= t('.ship-it') %></button>
      <button class="copy-branch-name"
              data-clipboard-text='<%= @card.branch_name %>'>
              <%= t('.copy-branch') %>
      </button>
      <a class="open-pr-on-github"
         target="_blank" href="<%= @card.compare_url(url_for([@card.board, @card, only_path: false])) %>">
         <%= t('.open-pr-on-github') %>
       </a>
      <a class="edit-card" href="#"><%= t('.edit') %></a>
      <%= render "cards/archive", card: @card %>
    </div>
  </section>
  <div class="comments-wrapper clearfix">
    <div class="comment-form-container clearfix">
      <%= render "comments/form", comment: Comment.new, card: @card %>
    </div>
    <div class="comments-container clearfix">
      <%= render @card.comments %>
    </div>
  </div>

</div>

<% if false %>

  <div class="card-actions-container clearfix">
    <% unless @card.archived? %>
    <div class="buttons-container clearfix">
      <%= render "cards/preview", card: @card %>
    </div>
    <% end %>

<% end %>
