<div data-role="single-card" data-board-id="<%= @card.board.id %>">

  <nav class="cards-nav clearfix">
    <a href="<%= board_path @card.board %>" class="text"><%= @card.board.title %></a>
  </nav>

  <header class="cards-header clearfix">
    <p class="user-firstname"><%= current_user.nickname %></p>
    <%= best_in_place [@card.board, @card], :title,
                      display_with: -> (title) { content_tag :h1, title, class: 'card-title' },
                      class: 'card-title-container clearfix js-bip_card-title',
                      inner_class: 'bip_card-title' %>
    <button data-clipboard-text='<%= @card.branch_name %>'>
      <b><%= @card.branch_name %></b>
    </button>
  </header>

  <div class="card-actions-container clearfix">
    <div class="buttons-container clearfix">
      <%= render "cards/archive", card: @card %>
      <%= render "cards/preview", card: @card %>
    </div>

    <div class="preview-container clearfix">
      <% if @card.previewing? %>
        <script>
          $('.preview-form').spin({ color: '#fff' });
        </script>
      <% elsif @card.previewed? %>
        <p class="preview-text"><%= t('.ready', url: link_to(@card.preview_url, @card.preview_url)).html_safe %></p>
      <% end %>
    </div>
  </div>

  <% if signed_in? %>
    <div class="comment-form-container clearfix">
      <%= render "comments/form", comment: Comment.new, card: @card %>
    </div>
  <% end %>

  <section class="comments clearfix">
    <%= render @card.comments %>
  </section>

</div>
