<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.rawgit.com/catchup/catchup-web-assets/975f6e5d6081055021b259ffe6fe7246f9276260/apple-touch-icon-180.png">
    <link rel="icon" type="image/x-icon" href="https://cdn.rawgit.com/catchup/catchup-web-assets/975f6e5d6081055021b259ffe6fe7246f9276260/favicon.png">

    <meta name="description" content="<%= content_for(:description).presence || t('application.name') %>">
    <title><%= content_for(:title).presence || t('application.name') %></title>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>

    <%= csrf_meta_tags %>
  </head>

  <body class="body clearfix" data-no-turbolink>

    <%= render "flashes" %>

    <% if current_user.present? %>
      <%= render "header" %>
    <% end %>

    <%= content_tag(:div, yield, class: "#{controller_name}-#{action_name} clearfix") %>

    <%= render "footer" %>

  </body>

</html>
