<!DOCTYPE html>
<html>
<head>
  <title>TaskPlanner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= t('greeting', user: session[:current_user]) if signed_in? %>
<%= link_to t('see_boards'), boards_path %>

<%= yield %>

</body>
</html>
